<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Foundation 4</title>

  
  <link rel=stylesheet href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel=stylesheet href="{{ url_for('static', filename='css/typeahead.css') }}">
  <link rel=stylesheet href="{{ url_for('static', filename='css/example.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/zepto.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.js/typeahead.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.js/typeahead.min.js') }}"></script>
</head>
<body>

  <div class="row">
    <div class="large-12 columns">
 
    <!-- Navigation -->
 
      <div class="row">
        <div class="large-12 columns">
 
          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <a href="/">
                    Does it Fit?
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
            <div class="large-4 small-2 columns">
              <input type="text" id="search_input" placeholder="Search" />
              <!-- <a href="#" class="postfix button expand">Search</a> -->
            </div>

            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                
                <li class="divider"></li>
                {% if g.user %}
                  <li class="has-dropdown">
                    <a href="#">Welcome {{ g.user.name }}!</a>
                    <ul class="dropdown">
                      <li><a href="#">Dropdown Option</a></li>
                      <li><a href="#">Dropdown Option</a></li>
                      <li><a href="#">Dropdown Option</a></li>
                    </ul>
                  </li>
                {% else %}
                  <li><a href="#" data-reveal-id="signInModal">Sign In</a></li>
                {% endif %}

              </ul>
            </section>
          </nav>
          <!-- End Top Bar -->
        </div>
      </div>
 
    <!-- End Navigation -->
 
 
  <!-- Featured Item -->
        
        <div class="large-4 small-12 columns">
          <a href="item/1">
            <img src="http://images.asos-media.com/inv/media/2/4/1/1/3131142/black/image1xxl.jpg">
          </a>
          
          <div class="hide-for-small panel">
            <h3>Featured Item</h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>
 
        </div>
 
    <!-- Featured Item -->

 
    <!-- Thumbnails -->
 
        <div class="large-8 columns">
          <div class="row">
            
            <a href="item/2"> 
              <div class="large-4 small-6 columns">
                <img src="http://images.asos-media.com/inv/media/8/3/9/7/3287938/berry/image1xl.jpg">
   
                <div class="panel">
                  <h5>Item Name</h5>
                </div>
              </div>
            </a>
 
            <a href="item/3">
              <div class="large-4 small-6 columns">
                <img src="http://images.asos-media.com/inv/media/9/6/9/9/3269969/black/image1xl.jpg">
   
                <div class="panel">
                  <h5>Item Name</h5>
                </div>
              </div>
            </a>
            
            <a href="item/4">
              <div class="large-4 small-6 columns">
                <img src="http://images.asos-media.com/inv/media/8/6/6/0/3020668/marsprint/image1xl.jpg">
   
                <div class="panel">
                  <h5>Item Name</h5>
                </div>
              </div>
            </a>

            <a href="item/5"> 
              <div class="large-4 small-6 columns">
                <img src="http://images.asos-media.com/inv/media/4/5/8/7/3287854/creamblack/image1xl.jpg">
   
                <div class="panel">
                  <h5>Item Name</h5>
                </div>
              </div>
            </a>

            <a href="item/6">
              <div class="large-4 small-6 columns">
                <img src="http://images.asos-media.com/inv/media/3/3/1/1/3221133/nude/image1xl.jpg">
   
                <div class="panel">
                  <h5>Item Name</h5>
                </div>
              </div>
            </a>
 
            <a href="item/7">
              <div class="large-4 small-6 columns">
                <img src="http://images.asos-media.com/inv/media/5/0/9/5/3145905/black/image1xl.jpg">
   
                <div class="panel">
                  <h5>Item Name</h5>
                </div>
              </div>
            </a>
          </div>

    <!-- End Thumbnails -->
 
 
    <!-- Footer -->
 
      <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">
 
            <div class="large-6 columns">
              <p>&copy; Copyright no one at all.</p>
            </div>
 
            <div class="large-6 columns">
            </div>
 
          </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>

  <!-- Modal for signing in -->
  <div id="signInModal" class="reveal-modal small">
    <form action="{{ url_for('signin') }}" method=post>

      <!--
      <dt>Username:
      <dd><input type=text name=username size=30 value="{{ request.form.username }}">
      <dt>Password:
      <dd><input type=password name=password size=30>
      -->

      <input type="text" name=email placeholder="Email" value="{{ request.form.email }}">
      <input type="password" name=password placeholder="Password">
      <input class="small round button" type=submit value="Sign In">
      <a href="signup" class="small round button" >Create New Profile</a>

      {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
    </form>
  </div>
  <!-- End Modal -->
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
  <script>
      $('#search_input').typeahead({
        name: 'Search',
        local: ['timtrueman', 'tamos', 'tomaaa', 'ttaa', 'tqq']
      });
  </script>
</body>
</html>
