<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Foundation 4</title>
  
  <link rel=stylesheet href="{{ url_for('static', filename='css/foundation.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
<!--
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/zepto.js') }}"></script>
-->
  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
  <script>
  $(function() {
    var select = $( "#size" );
    var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
      min: 1,
      max: 3,
      range: "min",
      value: 2,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
      }
    });
    $( "#size" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );
    });

    var select = $( "#length" );
    var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
      min: 1,
      max: 3,
      range: "min",
      value: 2,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
      }
    });
    $( "#length" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );
    });

    var select = $( "#thick" );
    var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
      min: 1,
      max: 3,
      range: "min",
      value: 2,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
      }
    });
    $( "#thick" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );
    });

    var select = $( "#quality" );
    var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
      min: 1,
      max: 3,
      range: "min",
      value: 2,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
      }
    });
    $( "#quality" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );
    });

  });
  </script>
</head>
<body>
<div class="row">
    <div class="large-12 columns">
 
    <!-- Navigation -->
 
      <div class="row">
        <div class="large-12 columns">
 
          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <a href="#">
                    Does it Fit?
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
            <div class="large-4 small-2 columns">
              <input type="text" />
            </div>

            <div class="small-2 columns">
              <a href="#" class="postfix button expand">Search</a>
            </div>
 
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <li><a href="#">Main Item 1</a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Main Item 2</a>
                  <ul class="dropdown">
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                  </ul>
                </li>
              </ul>
            </section>
          </nav>
          <!-- End Top Bar -->
        </div>
      </div>
 
    <!-- End Navigation -->
 
 
      <!-- Header Content -->
		<div class="row">
 
          <div class="large-6 columns">
 
            <img src={{ item_picture_url }}><br>
 
          </div>
 
 
          <div class="large-6 columns">
 
 
            <div class="panel">
              <h4 class="hide-for-small">{{ item_name }}<hr/></h4>
              <div class="item-info">
                <div id="item-info">
                  <label id="left">Feels Tight</label>
                  <label id="center">Perfect</label>
                  <label id="right">Fits Wide</label>
                  <div class="progress large-12" id="progress-display">
                    {% if aggregator %}
                      <span id="span-size"class="meter" style="{{ aggregator.size_high }}"></span>
                    <span id="span-size2" class="meter" style="{{ aggregator.size_low }}"></span>
                    {% else %}
                    <span id="span-size"class="meter" style="width: 51%"></span>
                    <span id="span-size2" class="meter" style="width:48%; background:#f2f2f2"></span>
                    {% endif %}
                  </div>
                </div>

                <div id="item-info">
                  <label id="left">Short</label>
                  <label id="center">Right</label>
                  <label id="right">Long</label>
                  <div class="progress large-12" id="progress-display">

                    {% if aggregator %}
                      <span id="span-length"class="meter" style="{{ aggregator.length_high }}"></span>
                    <span id="span-length2" class="meter" style="{{ aggregator.length_low }}"></span>
                    {% else %}
                      <span id="span-length"class="meter" style="width: 51%"></span>
                    <span id="span-length2" class="meter" style="width:48%; background:#f2f2f2"></span>
                    {% endif %}


                    
                  </div>
                </div>

                <div id="item-info">
                  <label id="left">Thin</label>
                  <label id="center">Medium</label>
                  <label id="right">Thick</label>
                  <div class="progress large-12" id="progress-display">
                    {% if aggregator %}
                      <span id="span-thickness"class="meter" style="{{ aggregator.thickness_high }}"></span>
                    <span id="span-thickness2" class="meter" style="{{ aggregator.thickness_low }}"></span>
                    {% else %}
                    <span id="span-thickness" class="meter" style="width:51%"></span>
                    <span id="span-thickness2" class="meter" style="width:48%; background:#f2f2f2"></span>
                    {% endif %}
                  </div>
                </div>

                <div id="item-info">
                  <label id="left">Cheap Quality</label>
                  <label id="center">Ok</label>
                  <label id="right">High Quality</label>
                  <div class="progress large-12" id="progress-display">
                    {% if aggregator %}
                      <span id="span-quality"class="meter" style="{{ aggregator.quality_high }}"></span>
                    <span id="span-quality2" class="meter" style="{{ aggregator.quality_low }}"></span>
                    {% else %}
                    <span id="span-quality"class="meter" style="width:51%"></span>
                    <span id="span-quality2" class="meter" style="width:48%; background:#f2f2f2"></span>
                    {% endif %}
                  </div>
                </div>

                <div id="item-info">
                  <label id="left">Do not recommend</label>
                  <label id="center"></label>
                  <label id="right">Highly recommend</label>
                  <div class="progress large-12" id="progress-display">
                    {% if aggregator %}
                      <span id="span-recommend"class="meter" style="{{ aggregator.recommend_high }}"></span>
                    <span id="span-recommend" class="meter" style="{{ aggregator.recommend_low }}"></span>
                    {% else %}
                    <span id="span-recommend"class="meter" style="width:51%"></span>
                    <span id="span-recommend" class="meter" style="width:48%; background:#f2f2f2"></span>
                    {% endif %}
                  </div>
                </div>
              </div>
 
            </div>
          </div>
        </div>
 
      <!-- End Header Content -->

      <!-- Header Content -->

        <div class="row" id="user-reviews">
          <div class="large-12 columns">
            <h4>User Reviews</h4>
            <hr/>
            <ul id="ul1" class="user-reviews"></ul>
            <a href="#" class="small rounded secondary button" data-reveal-id="myModal">Add a Review</a>
          </div>
        </div>

      <!-- End Header Content -->

		    <ul class=messages>
          {% for review in reviews %}
            <li>{{ review.user_name }}</li>
            <p>Size: {{ review.size_text }}, Length: {{ review.length_text}}, Thickness: {{ review.thickness_text }}, Recommend: {{ review.recommend_text }} </p>
            <p>Additional Comments: {{ review.text }}</p>
          {% else %}
            <li>There's no review so far.</li>
          {% endfor %}
        </ul>
 
 
      <!-- Footer -->
 
        <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">
            <div class="large-6 columns">
                <p>&copy; Copyright </p>
            </div>

          </div>
        </div>
      </footer>
 
      <!-- End Footer -->
 
 
    </div>
  </div>

  <!-- Modal for Adding reviews -->
  <div id="myModal" class="reveal-modal small">
    <form action="{{ url_for('add_review') }}" method=post>
      <div class="row">
        <div class="large-12 columns" id="myModalForm">
          <div class="row">
              <label for="size1" id="left">Feels Tight</label>
              <label for="size" id="center">Perfect</label>
              <label for="size11" id="right">Fits Wide</label>
              <input type="range" id="size1" name="size" min="1" max="3">
          </div>

          <div class="row">
            <label for="length1" id="left">Short</label>
            <label for="length1" id="center">Right</label>
            <label for="length1" id="right">Long</label>
            <input type="range" id="length1" name="length" min="1" max="3">
          </div>

          <div class="row">
            <label for="thickness1" id="left">Thin</label>
            <label for="thickness1" id="center">Medium</label>
            <label for="thickness1" id="right">Thick</label>
            <input type="range" id="thickness1" name="thickness" min="1" max="3">
          </div>

          <div class="row">
            <label for="quality1" id="left">Cheap Quality</label>
            <label for="quality1" id="center">Ok</label>
            <label for="quality1" id="right">High Quality</label>
            <input type="range" id="quality1" name="quality" min="1" max="3">
          </div>

          <div class="row">
            <label for="recommend1" id="left">Don't recommend</label>
            <label for="recommend1" id="center"></label>
            <label for="recommend1" id="right">Highly recommend</label>
            <input type="range" id="recommend1" name="recommend" min="1" max="2">
          </div>

          <div class="row" id="comments">
            <label>Additional Comments</label>
            <textarea type=text name=text></textarea>
          </div>
          
          <div class="row">
            <input class="small round button" type=submit value="Submit Review"></input>
          </div>
        </div>
      </div>
    </form> 
    <a class="close-reveal-modal">&#215;</a>  
  </div>
  <!-- End Modal -->

  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
